*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#about_us{
    margin-bottom: 30px;
}

.about_heading{
    font-size: 35px;
    color: #FCE601;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    -webkit-text-stroke: 1px yellow;
}

.about_us_grid{
    width: 97%;
    height: auto;
    margin: auto auto;
    background-color:#111;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    padding: 50px 15px;
}

.about_us_grid > .img{
    width: 100%;
    height: 100%;
}

.about_us_grid > .img > img{
    width:100%;
    height: 100%;
    object-fit: cover;
    cursor:move;
    box-shadow: 2px 2px 5px 5px black;
}

.about_us_grid >.about_me_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.about_us_grid > .about_me_details > #head_about{
    font-size: 35px;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform:uppercase;
    color: #fff;
}

.about_us_grid > .about_me_details > .line{
    width: 60%;
    height: 10px;
    background-color: #FCE601;
    box-shadow: 0px 0px 6px yellow;
    margin-top: 10px;
    margin-bottom: 30px;
}

.about_us_grid > .about_me_details > .intro{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align:justify;
    color: #ddd;
    text-transform: capitalize;
}


.about_us_grid > .about_me_details > .hire_me{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 20px;
    color: #111;
    margin-top: 10px;
}

.hire_me > p{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:  #FCE601;
    padding: 8px;
    border-radius: 5px;
    width: 130px;
    text-align: center;
    cursor: pointer;
    transition-duration: .7s;
}

.hire_me > p:hover{
    background-color: #FCE601;
    box-shadow: 0 0 10px yellow;
}

.about_us_grid > .about_me_details > .hire_me > .button{
    width: 100%;
    height: 70px;
    /* background-color: #ddd; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.about_us_grid > .about_me_details > .hire_me > .button > a{
    background-color: green;
    /* padding: 15px; */
    width: 50px;
    height: 50px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.about_us_grid > .about_me_details > .hire_me > .button > a::before{
    content : attr(data-tooltip);
    width: 100%;
    height: 25px;
    position: absolute;
    top: 55px;
    padding: 6px 10px;
    text-align: center;
    line-height: 25px;
    background-color: #FCE601;
    color:#111;
    border-radius: 10px;

       /* //hide the tooltip now  */
   transform: scale(0);
   transform-origin: top center;
   transition: .2s;
}

.about_us_grid > .about_me_details > .hire_me > .button > a:hover::before{
    transform: scale(1);
}



.about_us_grid > .about_me_details > .hire_me > .button > a > i{
    font-size: 30px;
}





@media (max-width:900px) {
    .about_us_grid{
        width: 100%;
       display: grid;
       grid-template-columns: 1fr;
       grid-gap: 30px;
    }
}

