*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,.8));
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width:400px;
    height: 500px;
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 5px 5px black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;

    text-align: center;

    animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }

form > .Heading{
    color: #FCE601;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
}


.password{
    width: 90%;
    gap: 5px;
}

input{
    width: 80%;
    color: #fff;
    padding: 10px;
    margin-bottom: 50px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid yellow;
    outline: none;
    background-color: transparent;
    font-size: 3vh;
    transition-duration: .4s;
}

input:hover{
    background-color: black;
}





input[type='email']:focus{
    border : 2px solid #fff;
    border-radius : 5px;
}
input[type='password']:focus{
    border : 2px solid #fff;
    border-radius : 5px;
}



/* //validation to emails field */
input[type='email']:hover:invalid{
    border:2px solid red;
    box-shadow: 0px 0px 5px red;
    border-radius: 5px;
}


input[type='email']:hover:valid{
    border: 2px solid rgb(9, 233, 9);
    box-shadow: 0px 0px 5px rgb(9, 233, 9);
    border-radius: 5px;
}



/* //validation for password  */
input[type='password']:hover:invalid{
    border:2px solid red;
    box-shadow: 0px 0px 5px red;
    border-radius: 5px;
}

input[type='password']:hover:valid{
    border: 2px solid rgb(9, 233, 9);
    box-shadow: 0px 0px 5px rgb(9, 233, 9);
    border-radius: 5px;
}






::-webkit-input-placeholder{
    color: #fff;
}


button{
    width: 40%;
    padding: 8px;
    font-size: 2.8vh;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: orange;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
    transition-duration: .8s;
}

button:hover{
    background-color: yellow;
}

.Already{
    color:rgb(185, 209, 232);
    margin-bottom: 10px;
}

.Already > a{
    text-decoration: none;
    color: #FCE601;
}

.captch{
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 30px;
}


.captch > h4{
    background-color: black;
    line-height: 30px;
    width: 100px;
    text-align: center;
}

.captch > input:hover{
    background-color: transparent;
}


@media (max-width:608px) {
    form{
        width: 300px;
    }
}










/* //alert box  */
#alertBox{
    background-color: rgba(0,0,0,.7);
    border: 1px solid rgba(0,174,255);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

    display: none;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }

#alertBox > p{
    font-size: 3vh;
    color: #fff;
    margin: 20px auto;
    padding: 5px;
}

#alertBox > .alert_btn{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#alertBox > .alert_btn > :nth-child(1){
    width:200px;
    transition-duration: .5s;
}

#alertBox > .alert_btn > :nth-child(1) > a{
    text-decoration: none;
    color: #111;
}

#alertBox > .alert_btn > :nth-child(2){
    width:150px;
    transition-duration: .5s;
}

#alertBox > .alert_btn > :nth-child(1):hover{
    background-color: aqua;
    color: #111;
}

#alertBox > .alert_btn > :nth-child(2):hover{
    background-color: aqua;
    color: #111;
}


#alertBox > .alert_btn  > button > a{
    text-decoration: none;
    color: #111;
}


@media (max-width:750px) {
    #alertBox{
        width: 330px;
    }

    #alertBox > p{
        font-size: 2.7vh;
        text-align: center;
    }

    #alertBox > .alert_btn > :nth-child(1){
        width: 150px;
        font-size: 2vh;
    }
    #alertBox > .alert_btn > :nth-child(2){
        width: 120px;
        font-size: 2vh;
    }
}



