*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.choose_medium{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose_medium > p{
    font-size: 4vh;
    color : #fff;
}

.choose_medium > .choose > button {
    margin: 0px 3px;
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    background-color: #fce601;
    color : #111;
    font-size: 2.6vh;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition-duration: .5s;
}

.choose_medium > .choose > button:hover{
    background-color: orange;
}



/* //table styling is here  */
.table{
    width: 90%;
    height: 80vh;
    margin: 50px auto;
    margin: auto;
    background-color:rgb(28, 27, 27);
    /* border-radius: 10px; */
    border : 1px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.table > p{
    font-size: 3vh;
    padding: 5px 0px ;
    width: 100%;
    background-color: #fce601;
    color: #000;
    text-align: center;
}


.table_row{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    border-bottom: 2px solid yellow;
    font-size: 3vh;
    border-collapse: collapse;
}



.table_row > a{
    text-decoration: none;
    background-color: #fce601;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    margin-right: 5px;
    border-radius: 5px;
    transition-duration: .5s;
    color: #111;
}

.table_row > a:hover{
    background-color: orange;
}